/*main page*/

.logo {
    color: #199094 !important;
    font-size:45px;
}

body, ul, footer {
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 65px;
    margin-top: 30px;
}

header p {
    display:inline;
}
nav {
    text-transform: uppercase;
    font-weight: 500;
    background-color: white;
}
nav img {
    margin-bottom: 12px;
}

.nav-item {
    padding-right:20px;
    
}
.m-left {
    margin-left: auto;
}

.nav-link {
    color: #199094 !important;
}

.nav-link:hover,
.nav-link.active {
    border-bottom: 2px solid #f54409;
    margin-bottom: -2px;
}

.color-1, .color-2, .color-3 {    
    text-align: center;
    padding: 24px;
    color: white;
}

.color-1{
    background-color: #add9db;
}
.color-2{
    background-color: #59b9bd;
}
.color-3{
    background-color: #199094;
}

.color-3 a {
    color:white;
    text-decoration: none;
}

.sec1 h1 {
    text-transform: uppercase;
    font-size: 2rem;
    color: #199094;
    padding-bottom: 20px;
    
}

.h1Border {
    border-bottom: 2px solid #f54409; 
}

.sec1 p {
    margin-top: 30px;
    line-height: 30px;
    margin-bottom: 50px;
}

.sec1 img {
    box-shadow: 1px 2px 30px rgba(0,0,0, 0.2);
}

.sec1 a {
   background-color: #f54409;
    border: 1px solid #f54409;
    color: white;
    padding: 1rem;
    border-radius: 6px;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    width: 200px;
    text-align: center;
}

.sec1 a:hover {
    border: 1px solid #f54409;
    background-color: white;
    color: #f54409;
    text-decoration: none;
}

footer {
    background-color: #f2f7f7;    
    color: #199094;
    text-align: center;
    margin-top: 70px;
}

footer h1 {
    width: 100%;
    padding: 70px 0;
}

footer p {
    width: 100%;
}

footer a {
    text-decoration: none;
    color: #199094;
}

.socket {
    border-top: .1rem solid #199094;
    width: 100%;
}

/*about page*/

.about-list {
    list-style: none;
    padding-left: 0;
    line-height: 30px;
}

.about-list li {
   margin-left:30px;
}
.listHR {
    float: left;
    width: 20px;
    color: #f54409;
    border: 1px solid;
    margin-right: 10px;
    margin-bottom: 0;
}

.sec1 h2 {
    font-size: 25px;
    color: #f54409;
}

.sec2 {
    margin-top:70px;
}


.accordion-button:focus {
    border-color: #199094;
    box-shadow: 0 0 0 0.25rem rgba(25,144,148,.25);
}

.accordion-button:not(.collapsed){
    color: #199094;
    background-color: #f2f7f7;
}

.accordion-body ul {
    margin-left: 20px;
}

/*offer page*/

.sec1offer {
    color: white;
}

.sec1offer p {
    line-height: 150%;
}

.box-1 {
    background-color: #199094;
}

.box-2 {
    background-color: rgba(201, 50, 0, 0.9);
}

.box-3 {
    background-color: #59b9bd;
}

.img {
    width:80px;
}

/*Contact page*/

.sec1contact h1 {
    text-transform: uppercase;
    font-size: 2rem;
    color: #199094;
    padding-bottom: 5px;
    padding-left: 12px;
    
}
.sec1contact hr{
    border-top: 2px solid #f54409; 
    opacity: 1;
    width: 165px;
    margin-left: 12px;
}

.sec1contact h3 {
   font-weight: 200;
}

.sec2contact .container-fluid {
    padding: 0;
}

/*Media Queries*/

@media (max-width: 419px){
    .logo {
        font-size: 32px;
    }
}

@media (min-width: 769px){
    .sec1offer h2 {
        height: 80px;
    }
}

@media (max-width: 991px){
    .sec1offer h2  {
        font-size: 26px;
    }
}